body{
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-decoration-color: aliceblue;
    width:100%;
}
nav{
    background-color: black;
    width:95vw;
    position: fixed;
    top: 0;
    display:flex;
    justify-content:space-between ;
    align-items: center;
    height: 10vh;
    /* color:rgb(221, 214, 10); */
    color: cyan;
}
nav ul{
    display:flex;
    justify-content: center;
    width: 100%;
}
nav ul li{
    list-style: none;
    margin: 2vw;
    
}
.left{
    width: 100%;
    font-size: 3.5vh;
    font-weight:400;
    margin-left:2vw;
    margin-right:5vw;
}
.right{
    width: 100%;
    margin-right: 0%;
    width:700px;
}
.firstSection div{
    width:45%;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    padding-top:150px;
    margin: 0;
    color:white;
}
.orange{
    color:cyan;

}
.leftSection{
    /* background-color: white;
    color: rgb(38, 37, 37); */
    font-size:2.5rem;
    margin-top:20px;
}
.leftSection div{
    width:100%;
}

.rightSection{
    margin: 30px 0;
    width: 400px;
}
.rightSection img{
    width: 450px;
    border-radius: 450px;
    margin-left: 150px;
    margin-top: -50px;
}
.tech-stack{
    margin: 80px 0;
    font-size:70%;
    display: flex;    
}
.tech-stack img{
    margin:0 10px;
    width:140px;
    height: 80px;
}
nav ul li a{
    text-decoration: none;
    color:cyan;
}
nav ul li a:hover{
    font-size: 120%;
    color:white;
}
#element{
    color:cyan;
}
.heading{
    font-size: 2.5rem;
    color: cyan;
}

.secondSection{
    display :flex;
    justify-content: space-between;
    margin:20px 120px;
    padding-top: 150px;
}
.leftSection2 img{
    width:450px;
    margin-top: 30px;
    max-width: 100%;
    border-radius: 5%;
}
.leftSection2{
    width:50%;
    margin-left:-200px;
    margin-top: 100px;
}
.rightSection2{
    font-size:1.5rem;
    width: 550px;
    margin-top:160px;
    text-align: center;
    text-justify: center;
}
.rightSection2 div{
    display: flex;
    justify-content: center;
}
.rightSection2 div img{
    width:30px;
    margin-left:20px;
}
.thirdSection{
    display:flex;
    justify-content: space-between;
    margin:20px 120px;
    margin-bottom: 150px;
    padding-top: 130px;
}
.thirdSection a{
    text-decoration: none;
    color: white;
}
.thirdSection a:hover{
    text-decoration: none;
    color: blue;
}
.rightSection3{
    font-size:1.5rem;
    width: 550px;
    margin-top:250px;
    text-align: center;
    text-justify: center;
}
.yellow{
    color:cyan;
}
.fourthSection{
    justify-content: space-between;
    margin:20px 120px;
    padding-top: 160px;
}
.c{
    padding-left:20px;
    padding-top: 30px;
}
.logo{
    display: flex;
    width: 500px;
}
.logo img{
    width:80px;
    height: 80px;
    border-radius: 8px;
}
.lsection1{
    width:500px;
    display: flex;
}
.rsection1{
    display:flex;
    /* width: 700px; */
}
.certifications-content{
    display: flex;
    padding-left: 150px;
    padding-top:50px;
}
.fourthSection a{
    text-decoration: none;
    color: white;
}
html{
    scroll-behavior: smooth;
    
}
